{% extends "Base/base.html" %}

{% block customCSS %}
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href= {{ url_for("static",filename="css/Patient/patient.css") }}>
    <!-- jQuery Timeline -->
    <link href={{ url_for("static",filename="css/Patient/JqueryTimeline/timeline.min.css", ver="1.0.5") }} rel="stylesheet">

    <!-- jQuery Timepicker -->
    <link href={{ url_for("static",filename="css/Patient/JqueryTimepicker/jquery.timepicker.min.css") }} rel="stylesheet">

{% endblock %}

{% block customContent %}
    <div class="container-fluid">
        <div class="row" id="welcomeDiv">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                Welcome back {{ user }}
            </div>
        </div>
        <hr class="welcomeHorLine">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-10 col-12" id="topRowLeftWrapperCol">
                    <div class="topRowWrapper" id="topRowLeftWrapper">
                        <div class="container-fluid" id="mainButtons">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 popupClass">
                                    <button type="button" id="reqLabTestBtn" class="btn btn-primary btn-block topRowButtons noRadiusBtn basic_open">Request Lab Test</button>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 popupClass">
                                    <button type="button" id="bookMedicineBtn" class="btn btn-primary btn-block topRowButtons noRadiusBtn basic2_open">Buy Medicines</button>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 popupClass">
                                    <button type="button" id="bookApptBtn" class="btn btn-primary btn-block topRowButtons noRadiusBtn basic3_open">Book Doctor Appointment</button>
                                </div>
                            </div>
                        </div>

                        <!-- Request Lab Test -->

                        <div id="basic" class="popupWrapperDiv">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-auto col-auto">                                                        
                                    </div>
                                    <div class="col-md-4 col-4" class="popupDiv">

                                    </div>
                                    <div class="col-md-auto col-auto">                                                        
                                    </div>

                                </div>
                            </div>
                            <button class="basic_close btn btn-default">Close</button>
                        </div>

                        <!-- Buy Medicines -->

                        <div id="basic2" class="popupWrapperDiv">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-auto col-auto">                                                        
                                    </div>
                                    <div class="col-md-4 col-4" class="popupDiv">

                                    </div>
                                    <div class="col-md-auto col-auto">                                                        
                                    </div>

                                </div>
                            </div>
                            <button class="basic2_close btn btn-default">Close</button>
                        </div>

                        <!-- Book Doctor Appointment -->

                        <div id="basic3" class="popupWrapperDiv">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-auto col-auto">                                                        
                                    </div>
                                    <div class="col-md-4 col-4" class="popupDiv">
                                        
                                    </div>
                                    <div class="col-md-auto col-auto">                                                        
                                    </div>

                                </div>
                            </div>
                            <button class="basic3_close btn btn-default">Close</button>
                        </div>

                        <hr class="mainButtonsHorLine">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div id="setReminderDiv">
                                        <div id="setReminderDivTitle">
                                            Set a Reminder
                                        </div>
                                        <div class="row" id="setReminderDivContent">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <ul class="nav nav-tabs nav-fill">
                                                    <li class="nav-item" id="doctorReminder">
                                                        <a class="nav-link active" href="#doctorReminderOptions" data-toggle="tab"  role="tab" aria-controls="doctorReminder" aria-selected="true">Doctor Visit</a>
                                                    </li>
                                                    <li class="nav-item" id="medicineReminder">
                                                        <a class="nav-link" href="#medicineReminderOptions" data-toggle="tab"  role="tab" aria-controls="medicineReminder" aria-selected="true">Order Medicines</a>
                                                    </li>
                                                    <li class="nav-item" id="labTestReminder">
                                                        <a class="nav-link" href="#labTestReminderOptions" data-toggle="tab"  role="tab" aria-controls="labTestReminder" aria-selected="true">Lab Test</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="container-fluid tab-pane fade show active" id="doctorReminderOptions">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 input-group">
                                        <input type="text" name="searchTextBox" id="searchTextBox" placeholder="Search for doctors">
                                        <button name="searchBtn" id="searchBtn"><i class="fas fa-search"></i></button>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" style="margin-top: 5px;">
                                        <div class="d-flex flex-row justify-content-around"> 
                                            <input id="doctorTimeScroll" type="text" class="form-control time ui-timepicker-input noRadiusBtn" placeholder="Pick a time">
                                            <input id="doctorReminderMessage" type="text" class="form-control noRadiusBtn" name="reminderMessage" placeholder="Enter a reminder message" style="margin-left: 10px;">
                                        </div>
                                        <div class="container-fluid tab-pane fade" id="labTestReminderOptions">
                                            <div class="dropdown">
                                                <button class="btn btn-block dropdown-toggle" type="button" id="labTestDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose a Lab-Test-Request Document
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="labTestDropdown">
                                                    <a class="dropdown-item" href="#">Options to be added via javascript</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid tab-pane fade" id="medicineReminderOptions">
                                            <div class="dropdown">
                                                <button class="btn btn-block dropdown-toggle" type="button" id="medicineDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose a Prescription
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="medicineDropdown">
                                                    <a class="dropdown-item" href="#">Options to be added via javascript</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>        
                                        <button type="button" class="btn btn-success btn-block" id="setReminderBtn">Set Reminder</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topRowWrapper col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" id = "myTimelineCol">
                    <div id="myTimeline">
                        <ul class="container-fluid timeline-events">
                            <li>Not allowed event definition</li>
                            <li data-timeline-node="{ start:'2017-5-29 8:00',end:'2017-5-29 10:30',content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus tortor nec bibendum malesuada. Etiam sed libero cursus, placerat est at, fermentum quam. In sed fringilla mauris. Fusce auctor turpis ac imperdiet porttitor. Duis vel pharetra magna, ut mollis libero. Etiam cursus in leo et viverra. Praesent egestas dui a magna eleifend, id elementum felis maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sed elit gravida, euismod nunc id, ullamcorper tellus. Morbi elementum urna faucibus tempor lacinia. Quisque pharetra purus at risus tempor hendrerit. Nam dui justo, molestie quis tincidunt sit amet, eleifend porttitor mauris. Maecenas sit amet ex vitae mi finibus pharetra. Donec vulputate leo eu vestibulum gravida. Ut in facilisis dolor, vitae iaculis dui.' }">Event Label</li>
                            <li data-timeline-node="{ start:'2017-5-29 10:30',end:'2017-5-29 12:15',bgColor:'#a3d6cc',content:'<p>In this way, you can include <em>HTML tags</em> in the event body.<br><i class=\'fa fa-ellipsis-v\'></i><br><i class=\'fa fa-ellipsis-v\'></i></p>' }">HTML tags is included in the event content</li>
                            <li data-timeline-node="{ start:'2017-5-29 13:00',content:'For the bar type on the timeline, event blocks are displayed in minimum units unless you specify an event end time.' }">Event with undefined of end date</li>
                            <li data-timeline-node="{ end:'2017-5-29 15:00',bgColor:'#e6eb94',content:'In this case, no displayed.' }">Event with undefined of start date</li>
                            <li data-timeline-node="{ start:'2017-5-29 12:45',end:'2017-5-29 16:00',row:2,bgColor:'#89c997',color:'#ffffff',callback:'$(\'#myModal\').modal()',content:'Show modal window via bootstrap' }">Event having callback</li>
                            <li data-timeline-node="{ start:'2017-5-29 16:03',end:'2017-5-29 19:05',row:3,bgColor:'#a1d8e6',color:'#008db7',extend:{toggle:'popover',placement:'bottom',content:'It is also possible to bind external custom events.'} }">Show popover via bootstrap</li>
                            <li data-timeline-node="{ start:'2017-5-28 23:00',end:'2017-5-29 5:15',row:3,extend:{'post_id':13,'permalink':'https://www.google.com/'} }">Event having extended params</li>
                            <li data-timeline-node="{ start:'2017-5-29 5:40',end:'2017-5-29 8:20',row:3,bgColor:'#ef857d',color:'#fff',content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus tortor nec bibendum malesuada. Etiam sed libero cursus, placerat est at, fermentum quam. In sed fringilla mauris. Fusce auctor turpis ac imperdiet porttitor.' }">Lorem Ipsum</li>
                            <li data-timeline-node="{ start:'2017-5-29 10:00',end:'2017-5-29 19:00',row:4,bdColor:'#942343' }">Event having image for point type</li>
                            <li data-timeline-node="{ start:'2017-4-1 20:00',end:'2017-5-29 8:30',row:5 }">Long event from the past over range</li>
                            <li data-timeline-node="{ start:'2017-5-29 19:00',end:'2017-6-14 1:00',row:5,bgColor:'#fbdac8' }">Long event until the future over range</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" hidden>
                  <div class="card mb-3">
                    <div class="card-block">
                      <h5><i class="fa fa-cog"></i> Timeline Configuration</h5>
                      <div class="card-text">
                        configuration content
                      </div>
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="timeline-event-view"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block customJS %}
    
    <!-- jQuery Timeline -->
    <script src= {{ url_for("static",filename="js/Patient/JqueryTimeline/timeline.min.js", ver="1.0.5") }}></script>
    
    <!-- jQuery Timepicker -->
    <script src= {{ url_for("static",filename="js/Patient/JqueryTimepicker/jquery.timepicker.min.js") }}></script>
    
    <!-- Include jQuery Popup Overlay -->
    <script src= {{ url_for("static",filename="js/Patient/jquery.popupoverlay.js") }}></script>
    
    <!-- Out own script -->
    <script src= {{ url_for("static",filename="js/Patient/index.js") }}></script>

{% endblock %}