{% extends "Base/base.html" %}

{% block customCSS %}
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href = {{ url_for("static",filename="css/Patient/patient.css") }}>
    <!-- Full Calendar -->
    <link rel='stylesheet' href = {{ url_for("static",filename="css/Patient/fullcalendar/fullcalendar.min.css") }} />
    
{% endblock %}

{% block customContent %}
    <div class="container-fluid">
        <div class="row" id="welcomeDiv">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12" style="margin-left: 10px" id="welcomeDivTitle">
                Welcome back {{ user }}
            </div>
        </div>
        <hr class="welcomeHorLine">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-10 col-12" id="topRowLeftWrapperCol">
                    <div class="topRowWrapper" id="topRowLeftWrapper">
                        <div class="container-fluid" id="mainButtons">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 popupClass">
                                    <button type="button" id="reqLabTestBtn" class="btn btn-primary btn-block topRowButtons noRadiusBtn basic_open">Request Lab Test</button>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 popupClass">
                                    <button type="button" id="bookMedicineBtn" class="btn btn-primary btn-block topRowButtons noRadiusBtn basic2_open">Buy Medicines</button>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 popupClass">
                                    <button type="button" id="bookApptBtn" class="btn btn-primary btn-block topRowButtons noRadiusBtn basic3_open">Book Doctor Appointment</button>
                                </div>
                            </div>
                        </div>

                        <!-- Request Lab Test -->

                        <div id="basic" class="popupWrapperDiv">
                            <div class="container-fluid">
                                <div id="labBookMessage">
                                    
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 popupDiv">
                                        <div class="d-flex flex-row justify-content-around"> 
                                            <input type="text" name="popupLabSearch" class="popupSearchTextBox" id="popupLabSearch" placeholder="Search for labs"> 
                                            <input type="text" class="selectedSearchID" id="selectedLabID" hidden>
                                            <button name="searchBtn" class="searchBtn"><i class="fas fa-search"></i></button>
                                        </div>
                                        <div class="searchTextBoxResults" id="popupLabSearchResults">
                                            
                                        </div>
                                        <div class="dropdown show">
                                            <a class="btn btn-block noRadiusBtn dropdown-toggle popupDropdown" href="#" role="button" id="dropdownMenuLinkLabPopup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose a Lab Document
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkLabPopup">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
<!--                                         <div class="d-flex flex-row justify-content-around"> 
                                            <input type="date" class="form-control noRadiusBtn" id="popupLabDate" placeholder="Pick a date">
                                        </div> -->
                                    </div>
                                </div>
                            </div>                            
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-9" style="padding: 0px 0px 0px 0px;">
                                        <button class="btn btn-success btn-block popupFinalBtn noRadiusBtn" id="labBookBtn">Book</button>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-3" style="padding-right: 0px;">
                                        <button class="basic_close btn btn-danger popupCloseBtn noRadiusBtn float-right">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Buy Medicines -->

                        <div id="basic2" class="popupWrapperDiv">
                                <div id="labBookMessage">
                                    
                                </div>
                                <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 popupDiv">
                                        <div class="d-flex flex-row justify-content-around"> 
                                            <input type="text" name="popupMedicineSearch" class="popupSearchTextBox" id="popupMedicineSearch" placeholder="Search for pharmacies">
                                            <input type="text" class="selectedSearchID" id="selectedMedicineID" hidden>
                                            <button name="searchBtn" class="searchBtn"><i class="fas fa-search"></i></button>
                                        </div>
                                        <div class="searchTextBoxResults" id="popupMedicineSearchResults">
                                            
                                        </div>                                        
                                        <div class="dropdown show">
                                            <a class="btn btn-block noRadiusBtn dropdown-toggle popupDropdown" href="#" role="button" id="dropdownMenuLinkPrescriptionPopup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose a prescription
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkPrescriptionPopup">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
<!--                                         <div class="d-flex flex-row justify-content-around"> 
                                            <input type="date" class="form-control noRadiusBtn" id="popupMedicineDate" placeholder="Pick a date">
                                        </div> -->
                                    </div>
                                </div>
                            </div>                            
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-9" style="padding: 0px 0px 0px 0px;">
                                        <button class="btn btn-success btn-block popupFinalBtn noRadiusBtn" id="medicineBookBtn">Book</button>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-3" style="padding-right: 0px;">
                                        <button class="basic2_close btn btn-danger popupCloseBtn noRadiusBtn float-right">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Book Doctor Appointment -->

                        <div id="basic3" class="popupWrapperDiv">
                            <div class="container-fluid">
                                <div id="doctorBookMessage">
                                    
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 popupDiv">
                                        
                                        <div class="d-flex flex-row justify-content-around"> 
                                            <input type="text" name="popupDoctorSearch" class="popupSearchTextBox" id="popupDoctorSearch" placeholder="Search for doctors">
                                            <input type="text" class="selectedSearchID" id="selectedDoctorID" hidden>
                                            <button name="searchBtn" class="searchBtn"><i class="fas fa-search"></i></button>
                                        </div>
                                        <div class="searchTextBoxResults" id="popupDoctorSearchResults">
                                            
                                        </div>
                                        <div class="d-flex flex-row justify-content-around"> 
                                            <input type="date" class="form-control noRadiusBtn" id="popupDoctorDate" placeholder="Pick a date" >
                                            <!-- <input type="text" class="form-control noRadiusBtn timeScroller" id="popupDoctorTime" placeholder="Pick a time" style="margin-left: 10px;" > -->
                                            <select class="form-control noRadiusBtn timeScroller" id="popupDoctorTime" placeholder="Pick a time" style="margin-left: 10px;">
                                                <option value="" disabled selected>Select a time</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-9" style="padding: 0px 0px 0px 0px;">
                                        <button class="btn btn-success btn-block popupFinalBtn noRadiusBtn" id="doctorApptBookBtn">Book</button>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-3" style="padding-right: 0px;">
                                        <button class="basic3_close btn btn-danger popupCloseBtn noRadiusBtn float-right">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mainButtonsHorLine">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div id="setReminderDiv">
                                        <div id="setReminderDivTitle">
                                            Set a Reminder
                                        </div>
                                        <div class="row" id="setReminderDivContent">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <ul class="nav nav-tabs nav-fill">
                                                    <li class="nav-item" id="doctorReminder">
                                                        <a class="nav-link active" href="#doctorReminderOptions" data-toggle="tab"  role="tab" aria-controls="doctorReminder" aria-selected="true">Doctor Visit</a>
                                                    </li>
                                                    <li class="nav-item" id="medicineReminder">
                                                        <a class="nav-link" href="#medicineReminderOptions" data-toggle="tab"  role="tab" aria-controls="medicineReminder" aria-selected="true">Order Medicines</a>
                                                    </li>
                                                    <li class="nav-item" id="labTestReminder">
                                                        <a class="nav-link" href="#labTestReminderOptions" data-toggle="tab"  role="tab" aria-controls="labTestReminder" aria-selected="true">Lab Test</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="container-fluid tab-pane fade show active" id="doctorReminderOptions">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 input-group">
                                        <input type="text" name="reminderDoctorSearch" id="docReminderSearchTextBox" class="reminderSearchTextBox" placeholder="Search for doctors">
                                        <button name="searchBtn" class="searchBtn"><i class="fas fa-search"></i></button>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" style="margin-top: 5px;">
                                        <div class="d-flex flex-row justify-content-around"> 
                                            <input id="doctorDateScroll" type="date" class="form-control noRadiusBtn" placeholder="Pick a date">
                                            <input type="text" class="form-control noRadiusBtn timeScroller" placeholder="Pick a time" style="margin-left: 10px;">
                                        </div>

                                        <div class="d-flex flex-row justify-content-around" style="margin-top: 5px;"> 
                                            <input id="doctorReminderMessage" type="text" class="form-control noRadiusBtn" name="reminderMessage" placeholder="Enter a reminder message">
                                        </div>
                                        <div class="container-fluid tab-pane fade" id="labTestReminderOptions">
                                            <div class="dropdown">
                                                <button class="btn btn-block dropdown-toggle" type="button" id="labTestDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose a Lab-Test-Request Document
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="labTestDropdown">
                                                    <a class="dropdown-item" href="#">Options to be added via javascript</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid tab-pane fade" id="medicineReminderOptions">
                                            <div class="dropdown">
                                                <button class="btn btn-block dropdown-toggle" type="button" id="medicineDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose a Prescription
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="medicineDropdown">
                                                    <a class="dropdown-item" href="#">Options to be added via javascript</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>        
                                        <button type="button" class="btn btn-success btn-block" id="setReminderBtn">Set Reminder</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topRowWrapper col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12" id = "myTimelineCol">
                    <div id="calendar" style="padding-top: 10px;padding-bottom: 10px">
                        
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <!-- View previous prescriptions div -->
                <!-- provide options to select only a few prescriptions -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="container-fluid">
                        <div class="row" id="prescriptionsViewDivTitle">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 topRowWrapper" id="prescriptionsViewDivTitleDiv">
                                Previous Prescriptions 
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 topRowWrapper">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuPrescriptionList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuPrescriptionList">
                                        <a class="dropdown-item" href="#">Date ascending</a>
                                        <a class="dropdown-item" href="#">Date descending</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="prescriptionsViewDiv">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 topRowWrapper list-group list-group-flush" id="prescriptionsViewCol" style="padding-left: 15px!important">
<!--                                 <div class="individualRowTwoItem list-group-item">
                                    Prescription 1.
                                </div>
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 2.
                                </div>
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 3.
                                </div>                              
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 4.
                                </div>                              
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 5.
                                </div>                              
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 6.
                                </div>                              
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 7.
                                </div>                              
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 8.
                                </div>                              
                                <div class="individualRowTwoItem list-group-item">
                                    Prescription 9.
                                </div> -->
                            </div>
                        </div>
                        <div class="popupDivHolder" id="popupDivHolder" hidden>
                            
                        </div>
                    </div>
                </div>
                <!-- View Medicine requests and responses -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="container-fluid topRowWrapper">
                        <div class="row" id="medRespPendingTitle">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                Medicine Responses
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuMedRespList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMedRespList">
                                        <a class="dropdown-item" href="#">Date ascending</a>
                                        <a class="dropdown-item" href="#">Date descending</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="list-group list-group-flush" id="medRespDiv">
                                    <div class="individualRowTwoItem list-group-item">
                                        Receipt 1.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Receipt 2.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Receipt 3.
                                    </div>                              
                                    <div class="individualRowTwoItem list-group-item">
                                        Receipt 4.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="medReqTitle">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                Medicine Requests
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuMedReqList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMedReqList">
                                        <a class="dropdown-item" href="#">Date ascending</a>
                                        <a class="dropdown-item" href="#">Date descending</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="list-group list-group-flush" id="medReqDiv">
                                    <div class="individualRowTwoItem list-group-item">
                                        Order 1.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Order 2.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Order 3.
                                    </div>                              
                                    <div class="individualRowTwoItem list-group-item">
                                        Order 4.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- View lab-tests -- with result and pending and unsent ones div -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="container-fluid topRowWrapper">
                        <div class="row" id="labRespTitle">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                Lab Test Responses
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuPendingLabTestList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuPendingLabTestList">
                                        <a class="dropdown-item" href="#">Date ascending</a>
                                        <a class="dropdown-item" href="#">Date descending</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="list-group list-group-flush" id="labRespDiv">
                                    <div class="individualRowTwoItem list-group-item">
                                        Report 1.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Report 2.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Report 3.
                                    </div>                              
                                    <div class="individualRowTwoItem list-group-item">
                                        Report 4.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="labReqTitle">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                Unused Lab Test Requests 
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuDoneLabReqList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuDoneLabReqList">
                                        <a class="dropdown-item" href="#">Date ascending</a>
                                        <a class="dropdown-item" href="#">Date descending</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="list-group list-group-flush" id="labReqDiv">
                                    <div class="individualRowTwoItem list-group-item">
                                        Document 1.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Document 2.
                                    </div>
                                    <div class="individualRowTwoItem list-group-item">
                                        Document 3.
                                    </div>                              
                                    <div class="individualRowTwoItem list-group-item">
                                        Document 4.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

<div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="commonModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commonModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="commonModalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="prescriptionModal" tabindex="-1" role="dialog" aria-labelledby="prescriptionModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prescriptionModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="prescriptionModalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}
    <!-- MomentJS - FullCalendar -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script> -->
    <script src= {{ url_for("static",filename="vendor/moment/moment.js") }}></script>
    
    <!-- FullCalendar JS -->
    <script src= {{ url_for("static",filename="js/Patient/fullcalendar/fullcalendar.min.js") }}></script>

    
    <!-- Include jQuery Popup Overlay -->
    <script src= {{ url_for("static",filename="js/Patient/jquery.popupoverlay.js") }}></script>
    
    <!-- Out own script -->
    <script src= {{ url_for("static",filename="js/Patient/index.js") }}></script>

{% endblock %}