{% extends "Base/base.html" %}

{% block customCSS %}

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href = {{url_for("static",filename="css/Lab/lab.css")}} >

{% endblock %}

{% block customContent %}
    <div class="container -fluid" style="margin-top: 50px">
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12">
              <div id="piecontainer" style="height: 400px"></div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px;">
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12 table-responsive-sm">
              <div id="linecontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px;">
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12">
                <h5>Pending Lab Request Search</h5>
                <br>
                <div class="input-group">

                    <select name="search_param" id="search_param1" class="btn btn-default btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                        <option value="PatientId">PatientId</option>
                        <option value="DoctorId">DoctorId</option>
                        <option value="RequestId">RequestId</option>
                    </select>
                    <input id="search_bar1" class="form-control border-secondary py-2" type="search" value="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12 table-responsive-sm" style="padding: 10px 10px 10px 10px;">
                <table id="myTable1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>PatientId</th>
                            <th>DoctorId</th>
                            <th>RequestId</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
		    {% for d in labReqData %}
                        <tr>
                            <td>{{d[0]}}</td>
                            <td>{{d[1]}}</td>
                            <td>{{d[2]}}</td>
                            <td>
                                <a href= {{ url_for("labResponse", reqdata= d[2]) }} > <button type="button" class="btn btn-primary" >Info </button> </a>
                            </td>

                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px;">
        </div>
         <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12">
                <h5>Lab Response Search</h5>
                <br>
                <div class="input-group">

                    <select name="search_param" id="search_param2" class="btn btn-default btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                        <option value="PatientId">PatientId</option>
                        <option value="DoctorId">DoctorId</option>
                        <option value="RequestId">RequestId</option>
                    </select>
                    <input id="search_bar2" class="form-control border-secondary py-2" type="search" value="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12 table-responsive-sm" style="padding: 10px 10px 10px 10px;">
                <table id="myTable2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>PatientId</th>
                            <th>DoctorId</th>
                            <th>RequestId</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
            {% for d in labResData %}
                        <tr>
                            <td>{{d[0]}}</td>
                            <td>{{d[1]}}</td>
                            <td>{{d[2]}}</td>
                            <td>
                                <a href= {{ url_for("labExistingResponse", reqdata= d[2]) }} > <button type="button" class="btn btn-primary" >Info </button> </a>
                            </td>

                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
         <div class="row" style="padding: 10px 10px 10px 10px;">
        </div>

    </div>

{% endblock %}


{% block customJS %}

    <script src={{url_for("static",filename="js/Lab/lab.js")}}></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>

    <script type=text/javascript>
        Highcharts.chart('piecontainer', {
          chart: {
            type: 'pie',
            options3d: {
              enabled: true,
              alpha: 45,
              beta: 0
            }
          },
          title: {
            text: 'Lab Test'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                enabled: true,
                format: '{point.name}'
              }
            }
          },
          series: [{
            type: 'pie',
            name: 'Test Request share',
            data: {{ labPieData | tojson | safe }}
            /*[
              ['BloodTest', 3],
              ['Xray', 2],
              ['ECG', 1],
              ['SugarCheckup', 0.5],
              ['Other',0.5]
            ]*/
          }]
        });
    </script>
    <script type="text/javascript">

        Highcharts.chart('linecontainer', {
          chart: {
            type: 'spline'
          },
          title: {
            text: 'Performance Summary'
          },
           xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
              month: '%e. %b',
              year: '%b'
            },
            title: {
              text: 'Date'
            }
          },
          yAxis: {
            title: {
              text: 'Frequency'
            },
            min: 0
          },
          tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
          },

          plotOptions: {
            spline: {
              marker: {
                enabled: true
              }
            }
          },

          colors: ['#F00', '#39F', '#06C', '#036', '#000'],

          // Define the data points. All series have a dummy year
          // of 1970/71 in order to be compared on the same x axis. Note
          // that in JavaScript, months start at 0 for January, 1 for February etc.
          series: [{
            name: "Requests",
            data: [
              [Date.UTC(1970, 10, 25), 0],
              [Date.UTC(1970, 11,  6), 0.25],
              [Date.UTC(1970, 11, 20), 1.41],
              [Date.UTC(1970, 11, 25), 1.64],
              [Date.UTC(1971, 0,  4), 1.6],
              [Date.UTC(1971, 0, 17), 2.55],
              [Date.UTC(1971, 0, 24), 2.62],
              [Date.UTC(1971, 1,  4), 2.5],
              [Date.UTC(1971, 1,  1), 2.81],
              [Date.UTC(1971, 1, 11), 2.63]
            ]
          }, {
            name: "Reports",
            data: [
              [Date.UTC(1970, 10,  9), 0],
              [Date.UTC(1970, 10, 15), 0.23],
              [Date.UTC(1970, 10, 20), 0.25],
              [Date.UTC(1970, 10, 25), 0.23],
              [Date.UTC(1970, 10, 30), 0.39],
              [Date.UTC(1970, 11,  5), 0.41],
              [Date.UTC(1970, 11, 10), 0.59],
              [Date.UTC(1970, 11, 15), 0.73],
              [Date.UTC(1970, 11, 20), 0.41],
              [Date.UTC(1970, 11, 25), 1.07],
              [Date.UTC(1970, 11, 30), 0.88],
              [Date.UTC(1971, 0,  5), 0.85],
              [Date.UTC(1971, 0, 11), 0.89],
              [Date.UTC(1971, 0, 17), 1.04],
              [Date.UTC(1971, 0, 20), 1.02],
              [Date.UTC(1971, 0, 25), 1.03]
            ]
          }]
        });
    </script>

{% endblock %}
