{% extends "Base/base.html" %}

{% block customCSS %}

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href = {{url_for("static",filename="css/Lab/lab.css")}} >

{% endblock %}

{% block customContent %}

    <div class="container -fluid" style="margin-top: 50px ; margin-bottom: 50px;">
        <div class="row">
         {% for d in labReqData %}
            <div class="col-xl-2 col-lg-2 col-md-2  "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                <span id="paitient_id">Patient ID : {{ d[0] }}</span>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                <span id="doctor"> Doctor ID: {{ d[1] }}</span>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                <span id="labreq_id">LabRequest ID: {{ d[2] }} </span>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 "> </div>
         {% endfor %}
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1  col-1"> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                <hr class="my-5">
                View Prescription
                <label class="switch ">
                    <input type="checkbox" class="primary" id="viewPrescription">
                    <span class="slider round"></span></label>

            </div>
            <div class="col-xl-1 col-lg-1 col-md-1  col-1"> </div>
        </div>
        <div class="row" id="pres">
            <div class="col-xl-1 col-lg-1 col-md-1 "></div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-12 table-responsive-sm" style="padding: 10px 10px 10px 10px;">
                <hr class="my-5">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Symptom</th>
                            <th>Medicine</th>
                            <th>Time</th>
                            <th>startDate</th>
                            <th>endDate</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in labPresData %}
                        <tr>
                            <td>{{ d[1] }}</td>
                            <td>{{ d[2] }}</td>
                            <td>{{ d[3] }}</td>
                            <td>{{ d[4] }}</td>
                            <td>{{ d[5] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col">
                <hr class="my-5">
                <h3>Lab Request Details</h3>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
        </div>
        {% for d in labReqData %}
        <div class="row" id="labreq">
            <div class="col-xl-2 col-lg-2 col-md-2  "> </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                <span id="paitient_id">Test type: {{ d[3] }} </span>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 "> </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                <span id="doctor"> Description: {{ d[4] }} </span>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 "></div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1  col-1"> </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                <hr class="my-5">
                <!--<button type="button" class="btn btn-primary" id="view_pres">View Prescription</button>-->
                Respond
                <label class="switch ">
                    <input type="checkbox" class="primary" id="writeResponse" checked>
                    <span class="slider round"></span></label>

            </div>
            <div class="col-xl-1 col-lg-1 col-md-1  col-1"> </div>
        </div>
        <div class="row" id="labform">
            <div class="col-md-10 offset-md-1">
                <span class="anchor" id="formComplex"></span>
                <hr class="my-5">
                <h3>Lab Response Form </h3>
                <!-- form complex example -->
                 <form action = {{ url_for("upload_file") }} method = "POST" enctype = "multipart/form-data" onSubmit="return Validate(this);">
                <div class="form-row mt-4">
                    <div class="col-sm-5 pb-3">
                     {% for d in labReqData %}
                        <label for="exampleAccount">LabRequestID #</label>
                        <input type="text" class="form-control" id="labReqId" name= "labReqId"  value={{ d[2] }} readonly>
                     {% endfor %}
                    </div>
                    <div class="col-sm-3 pb-3">
                        <label for="exampleCtrl">LabId #</label>
                        <input type="text" class="form-control" id="labId" placeholder={{ userid }} readonly>
                    </div>
                    <div class="col-sm-4 pb-3">
                        <label for="exampleAmount">Date</label>
                      
                            <input type="text" class="form-control" id="date" placeholder="" readonly>
    
                    </div>
                    <div class="col-md-6 pb-3">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name = "file" required>
                      
                    </div>
                    <div class="col-md-6 pb-3">
                        <label for="exampleMessage">Notes</label>
                        <textarea class="form-control" id="message" name="message" ></textarea>
                        <small class="text-info">
                                    Add the patient notes here.
                                    </small>
                    </div>
                    <div class="col-12">
                        <div class="form-row">
                            <div class="col-md "> </div>
                            <div class="col-md text-right"> 
                                <input type = "submit" value = "submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="row" id="">
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>
            <div class="col-10">
                <hr class="my-5">
            </div> 
            <div class="col-xl-1 col-lg-1 col-md-1 "> </div>       
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2  "> </div>
            <div class="col-md "> </div>
            <div class="col-md text-right">
                <a href= {{ url_for('lab') }} > <button type="button" class="btn btn-primary" > Back </button> </a>         
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2  "> </div>
        </div>
        <div class="row" style="padding: 10px 10px 10px 10px;">
        </div>

    </div>

{% endblock %}


{% block customJS %}

    <script src={{url_for("static",filename="js/Lab/labResponse.js")}}></script>
    <script type="text/javascript">
    var _validFileExtensions = ['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif', 'doc'];    
    function Validate(oForm) {
        var arrInputs = oForm.getElementsByTagName("input");
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }
                    
                    if (!blnValid) {
                        alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                        return false;
                    }
                }

            }
        }
      
        return true;
    }
    </script>

{% endblock %}
