{% extends "Base/base.html" %}

{% block customCSS %}
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href={{ url_for("static",filename="css/Doctor/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static",filename="css/Doctor/doctor.css") }}>

    <!-- <link href={{ url_for("static",filename="css/Doctor/JqueryTimeline/timeline.min.css", ver="1.0.5") }} rel="stylesheet"> -->

    <link rel='stylesheet' href={{ url_for("static",filename="css/Doctor/fullcalendar/fullcalendar.min.css") }} />

{% endblock %}

{% block customContent %}
    <div class="container-fluid" id="buttons-patient">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6" style="margin-bottom: 10px;">
                            <a href={{ url_for("eprescription") }} class="btn btn-info" role="button">Write Prescription</a>
                            <div id="testing-ajax">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6" style="margin-bottom: 10px;">
                            <input type="month" id="date-input" />
                            <button id="doctorHistoryBtn">Submit</button>
                            <!-- <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Check History
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">year</a></li>
                                  <li class="dropdown-submenu"> -->
                                    <!-- <a class="test" tabindex="-1">month </a> -->
                            <!--         <input class="test" type="button" id="doctorHistorymonthBtn" value="month"></input>
                                    <ul class="dropdown-menu">
                                      <li><input type="button" id="doctorHistoryBtn" value="1">Jan</input></li>
                                      <li><input type="button" id="doctorHistoryBtn" value="2">Feb</input></li>
                                   -->    <!-- <li><input type="button" id="doctorHistoryBtn" value="2">Feb</input></li>
 -->                                <!-- </ul>
                                  </li> -->
                            <!--     </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row" style="margin-left: 0px;margin-right: 0px;font-size: 24px;"> 
                        Get Patient History :
                    </div>
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-10">
                            <div class="search-container">
                                <input type="text" class="form form-control" id="patientIDInp" placeholder="Enter Patient's ID" name="search"/>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                            <button class="btn btn-success" id="patientIDSeachBtn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="patientHistoryDispDiv">

                        </div>
                    </div>
                </div>
            </div>
            <div class="topRowWrapper col-xl-6 col-lg-6 col-md-6 col-12" id = "myTimelineCol">
                <div id="calendar" style="padding-top: 10px;padding-bottom: 10px">

                </div>
            </div>
        </div>
        <div class="row">
            <!-- <a href={{ url_for("prescription_history") }} class="btn btn-info" role="button">New Patient</a>
            <a href={{ url_for("history") }} class="btn btn-info" role="button">Existing Patient</a> -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-12" id="analyticsDiv">
            </div>
        </div>
    </div>

    <!-- <canvas id="barChart" style="height: 100px; width: 150px; border: black 2px solid;"></canvas> -->

    <!-- <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      Search for Patient's History <input type="text" placeholder="Write Patient's ID..">
    </div> -->

{% endblock %}

<!-- <script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script> -->

{% block customJS %}
    <!-- MomentJS - FullCalendar -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <!-- <script src={{ url_for("static",filename="js/Doctor/index.js") }}></script> -->
    <!-- <script src= {{ url_for("static",filename="js/Doctor/JqueryTimeline/timeline.min.js", ver="1.0.5") }}></script> -->

    <!-- FullCalendar JS -->
    <script src= {{ url_for("static",filename="js/Doctor/fullcalendar/fullcalendar.min.js") }}></script>

  <!--   <script>
    $(document).ready(function(){
      $('.dropdown-submenu input.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
    </script>
 -->

     <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type=text/javascript>
    firstUpdate = false;
    url = null;
    $(function update() {
      if(!firstUpdate){
        url = '/ctime/firstupdate';
        firstUpdate = true;
      }
      else
        url = '/ctime';
      console.log('url' + url);

      $.getJSON($SCRIPT_ROOT + url, {}, function(data) {
      d = data.result;
      console.log(d);
      var obj = jQuery.parseJSON(d);
      // var obj = jQuery.parseJSON(data.result);
      // $.each(obj, function(key,value) {
      //    var x = key;
      //    // alert(value);
      //    $.each(value, function(key1,value1) {
      //       alert(value1);
      //    });
      // });  
      //$("#ctime").text(data.result);
      // alert(typeof(obj));
      if(data.result.patientID != ''){
          addToTimeline(obj);
          $("#ctime").text(data.result);

      }
      //$("#array").text(data.array);
      window.setTimeout(update, 60000); // 1 minute update interval
    });
  }); // automatically invoke for first run



function addToTimeline(appt_json_arr){
  for(i = 0; i < appt_json_arr['patientID'].length; i++){
      // alert(appt_json_arr['patientID'][i] + appt_json_arr['dateTimeStamp'][i]);
      var someEvent = {
        title: 'Appointment for patient id '+ appt_json_arr['patientID'][i],
        start: appt_json_arr['start_datetime'][i],
        end: appt_json_arr['end_datetime'][i],
        allDay: false
      }
      $("#calendar").fullCalendar("renderEvent",someEvent,"stick");
      //alert("Hello ............." + appt_json_arr['patientID'][i])
  }
  return ;
}
</script>
<script src={{ url_for("static",filename="js/Doctor/index.js") }}></script>

{% endblock %}
