{% extends "Base/base.html" %}

{% block customCSS %}
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href={{ url_for("static",filename="css/Doctor/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static",filename="css/Doctor/doctor.css") }}>


    <link rel='stylesheet' href={{ url_for("static",filename="css/Doctor/fullcalendar/fullcalendar.min.css") }} />

{% endblock %}

{% block customContent %}
    <div class="container-fluid mt-2 mb-2" id="buttons-patient">
      <div class="row mt-2 mb-4 mr-1">
          <div class=col-md-10>
            <h5>{{ docName }} <br/></h5>
            <!-- <h6>Dr. {{ docDesignation }}</h6> -->
          </div>  
        <button class="btn btn-info col-md-2"><a href={{ url_for("eprescription") }} style="text-decoration: none; color: white;">Write Prescription</a></button>
      </div>
        
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <span>Get Patient History</span>
          </div>
          <div class="row mt-2 mb-2">
            <input type="text" class="form form-control col-md-9" id="patientIDInp" placeholder="Enter Patient's ID" name="search"/>
            <button class="btn btn-success col-md-2 offset-md-1" id="patientIDSeachBtn"><i class="fa fa-search"></i></button>
          </div>
          <div class="row" style="height: 356px; overflow-y: scroll;" >
            <ul class="list-group w-100" id="patient-identity">
              <li class="list-group-item"><strong>Name:  </strong></li>
              <li class="list-group-item"><strong>Gender:  </strong></li> 
              <li class="list-group-item"><strong>Date of Birth:  </strong></li> 
            </ul>
            <ul class="list-group w-100" id="patient-details">
              <li class="list-group-item" style="margin-top: 10px;"><strong>Date of Visit:  </strong></li>
              <li class="list-group-item"><strong>Prescription ID:  </strong></li>
              <li class="list-group-item"><strong>Symptoms:  </strong></li>
              <li class="list-group-item"><strong>Meds and Lab Tests:  </strong></li>
              <li class="list-group-item"><strong>Description:  </strong></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <span>My Schedule</span>
          <div id="calendar" style="padding-top: 10px;padding-bottom: 10px;"></div>
        </div>
      </div>
    
      <div class="row mt-5 mb-2">
          <canvas class="col-md-6" id="lineChart" style="display: none;"></canvas>
          <div class="col-md-6" style="padding: 30px;">
            <span>Check monthly patients</span>
            <input type="month" id="date-input" class=" col-md-9 form form-control mt-2" />
            <button id="doctorHistoryBtn" class="btn btn-success offset-md-10 col-md-2" style="margin-top: -65px;">Submit</button>
            <div class="col-md-12" id="analyticsDiv"></div>
           </div>   
    </div>
    <div class="row mt-5 mb-2">
      <div class="col-md-8"></div>
    </div>
  </div>


{% endblock %}


{% block customJS %}
    <!-- MomentJS - FullCalendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!-- FullCalendar JS -->
    <script src= {{ url_for("static",filename="js/Doctor/fullcalendar/fullcalendar.min.js") }}></script>

    <script type=text/javascript>

    // START: Periodic Refresh for updation in calendar
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    firstUpdate = false;
    url = null;
    $(function update() {
      if(!firstUpdate){
        url = '/ctime/firstupdate';
        firstUpdate = true;
      }
      else
        url = '/ctime';


      $.getJSON($SCRIPT_ROOT + url, {}, function(data) {
      d = data.result;
      // console.log(d);
      var obj = jQuery.parseJSON(d);

      if(data.result.patientID != ''){
          addToTimeline(obj);
          $("#ctime").text(data.result);

      }
      //$("#array").text(data.array);
      window.setTimeout(update, 60000);
        });
      }); // automatically invoke for first run


    // Inserting new appointments into the calendar
    function addToTimeline(appt_json_arr){
      for(i = 0; i < appt_json_arr['patientID'].length; i++){
          var someEvent = {
            title: 'Appointment for patient id '+ appt_json_arr['patientID'][i],
            start: appt_json_arr['start_datetime'][i],
            end: appt_json_arr['end_datetime'][i],
            allDay: false
            } 
            $("#calendar").fullCalendar("renderEvent",someEvent,"stick");
        }
        return ;
    }
    // END

</script>

<!-- script for line graph in doctor interface; move later to index.js -->


<script src={{ url_for("static",filename="js/Doctor/index.js") }}></script>

{% endblock %}
