{% extends "Base/base.html" %}

{% block customCSS %}

{% endblock %}

{% block customContent %}

    <div class="container-fluid">
        <div class="row" id="welcomeDiv">
            <div class="col-xl-4 col-lg-4 col-md-12 col-4">
                Welcome back XYZ
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-4">
                Address:Abc
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-4">
                Ph_no:123
            </div>
        </div>
        <hr class="welcomeHorLine">

        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">Subscribe</h4>
                        <p class="card-text">Diabetic Patient? Need reminder? Subscribe here for reminder! </p>
                        <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
                </div>

                <div class="card text-white" style="background-color: #333; border-color: #333;">
                    <div class="card-body">
                        <h3 class="card-title">Remarks</h3>
                        <p class="card-text">Display if any remark is there</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-9 col-md-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Prescription_ID</th>
                                <th>Doctor_ID</th>
                                <th>Medicines</th>
                                <th>Symptoms</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>responsive</td>
                                <td>xyz</td>
                                <td>cards</td>
                                <td>grid</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>rwd</td>
                                <td>pqr</td>
                                <td>abc</td>
                                <td>responsive</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>free</td>
                                <td>open-source</td>
                                <td>download</td>
                                <td>template</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>frontend</td>
                                <td>developer</td>
                                <td>coding</td>
                                <td>card panel</td>
                            </tr>
                            <tr>
                                <td>1,004</td>
                                <td>migration</td>
                                <td>bootstrap 4</td>
                                <td>mobile-first</td>
                                <td>design</td>
                            </tr>

                            <tr>
                                <td>1,006</td>
                                <td>collapse</td>
                                <td>affix</td>
                                <td>submenu</td>
                                <td>footer</td>
                            </tr>
                            <tr>
                                <td>1,007</td>
                                <td>layout</td>
                                <td>examples</td>
                                <td>themes</td>
                                <td>grid</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


{% block customJS %}

{% endblock %}
